.info{
    background:#221712;
    height:100vh;
    position:relative;
    overflow:hidden;
}

/* ---------- IMÁGENES ---------- */

.imagen1,
.imagen2{
    position:absolute;
    width:240px;
}

.imagen1{

    top:160px;
    left:90px;

}

.imagen2{

    top:590px;
    left:490px;

}

.imagen1 img,
.imagen2 img{

    width:100%;
    height:240px;
    object-fit:cover;
  

}

/* ---------- TEXTOS ---------- */

.texto1,
.texto2{

    position:absolute;

    width:760px;

    color:#edfeec;

    white-space: normal;

}

.texto1{

    top:150px;
    left:350px;

}

.texto2{

    top:580px;
    left:800px;

}

.texto1 h2,
.texto2 h2{

    font-size:48px;

    line-height:1;

    margin-bottom:25px;

    font-weight:400;

}

.texto1 p,
.texto2 p{

    line-height:1.8;

    opacity:.85;

}